body {
  width: 100vw;
  height: 100vh;
  max-width: 402px;
  margin: 0 auto;
  /* //   flex-direction: column;
  // border: 1px solid #000; */
  background-color: #fff;
  
}

h1 {
  margin-top: 40px;
  padding: 40px;
  color: #304125;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

